
  <ion-header no-border>
    <ion-navbar transparent>
      <ion-buttons start>
        <button ion-button icon-only clear color="white" (click)="closeBookDetails()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button *ngIf="libraryStatus" ion-button icon-only clear color="secondary">
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>
        <button *ngIf="!libraryStatus" ion-button icon-only clear color="white" (click)="addBookToLibrary(book)">
          <ion-icon [name]="userData.membership.status == 1 ? 'add-circle' : 'lock'"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content fullscreen="true" class="content">

    <div class="book">
      <img class="book-image" src="{{book.image}}">
      <button *ngIf="!readStatus" ion-button icon-left block round color="danger" (click)="openUpgradePage()"><ion-icon name="lock"></ion-icon>Upgrade</button>
      <button *ngIf="readStatus" ion-button icon-left block round color="danger" (click)="openBookTextPage(book)"><ion-icon name="text"></ion-icon>Read</button>
      <div class="book-header">
        <h6 class="book-text">{{getAuthorNameFromID(book.author)}}</h6>
        <h1 class="book-text"><b>{{book.name}}</b></h1>
      </div>
    </div>

  <ion-list no-lines>

    <ion-item>
      <h4 class="book-text" text-wrap>{{book.description}}</h4>
    </ion-item>

    <ion-item>
      <h2 class="book-text"><b>Who should read this?</b></h2>
      <h4 class="book-text" style="padding-top : 20px; padding-left : 5px;" text-wrap *ngFor="let item of book.reader"> &#9830; {{item}}</h4>
    </ion-item>
    <ion-item>
      <h2 class="book-text"><b>Who wrote the book?</b></h2>
      <h4 class="book-text" style="padding-top : 20px;" text-wrap>{{getAuthorAboutFromID(book.author)}}</h4>
    </ion-item>
  </ion-list>
</ion-content>