<ion-header>
  <ion-navbar color="white">
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <ion-list no-lines>
    <ion-item-divider no-lines color="light"></ion-item-divider>
    <ion-item>
      <ion-label><b>Email</b></ion-label>
      <ion-label text-right color="primary">{{userData.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Membership</b></ion-label>
      <ion-label text-right color="primary">{{userData.membership}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Privacy settings</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="secondary"><b>Upgrade now</b></ion-label>
    </ion-item>
    <ion-item-divider no-lines color="light"></ion-item-divider>
    <ion-item>
      <ion-label color="primary"><b>Language</b></ion-label>
      <ion-select [(ngModel)]="userData.language" (ionChange)="changeLanguage(userData.language)">
        <ion-option *ngFor="let language of languageList" [value]="language.$key">{{language.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label><b>Daily Pick reminders</b></ion-label>
      <ion-toggle color="danger"></ion-toggle>
    </ion-item>
    <ion-item-divider no-lines color="light"></ion-item-divider>
    <ion-item>
      <ion-label><b>Privacy policy</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Feedback</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Help center</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Follow us on Twitter</b></ion-label>
    </ion-item>
    <ion-item-divider no-lines color="light"></ion-item-divider>
    <ion-item>
      <ion-label><b>Restore purchases</b></ion-label>
    </ion-item>
    <ion-item-divider no-lines color="light"></ion-item-divider>
    <ion-item>
      <ion-label color="danger" (click)="logout()"><b>Log out</b></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
