page-title-list {
    .content{
        background-color: color($colors, light);
        .selected-item{
          ion-row{
              background-color: color($colors, white);
              padding-left: 5px;
              padding-right: 5px;
          }
          
          h6{
              color: color($colors, danger);
          }
          p{
              color: color($colors, black);
          }
        }
        .normal-item{
          ion-row{
              background-color: color($colors, light);
              padding-left: 5px;
              padding-right: 5px;
          }
          
          h6{
              color: color($colors, black);
          }
          p{
              color: color($colors, black);
          }
        }
    }
}
